<%= form_for @individual do |f| %>

    <% if @individual.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@individual.errors.count, "error") %> prohibited
            this individual from being saved:
          </h2>
          <ul>
            <% @individual.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label "Float Response" %><br>
      <%= f.number_field :floatResponse, :step => 'any' %>
    </p>

    <p>
      <%= f.label "Boolean Response" %><br>
      <%= f.check_box :booleanResponse %>
    </p>

    <p>
      <%= f.label "Text Response" %><br>
      <%= f.text_field :textResponse %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>