<%= javascript_include_tag 'application' %>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Start Bootstrap</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Full Width Image Header -->
<header class="header-image">
  <div class="headline">
    <div class="container">
      <h1>YourStats</h1>
      <h2>An easy way to view statistics</h2>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>List Individuals</h1>
      <%= link_to 'New Individual', new_individual_path %>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-3">
        <h2>DB id</h2>
      </div>
      <div class="col-xs-3">
        <h2>Float Response </h2>
      </div>
      <div class="col-xs-3">
        <h2> Boolean Response </h2>
      </div>
      <div class="col-xs-3">
       <h2> Text Response </h2>
      </div>
  </div>
  <% @individuals.each do |i| %>
      <div class="row">
        <div class="col-xs-3">
          <%= i.id %> |
          <%= link_to 'Show', individual_path(i) %> |
          <%= link_to 'Edit', individual_path(i) %> |
          <%= link_to 'Destroy', individual_path(i), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="col-xs-3">
          <%= i.floatResponse %>
        </div>
        <div class="col-xs-3">
          <%= i.booleanResponse %>
        </div>
        <div class="col-xs-3">
          <%= i.textResponse %>
        </div>
      </div>
  <%end%>

  <% if false %>
      <div><%= link_to 'Show', individual_path(individual) %></div>
      <div><%= link_to 'Edit', individual_path(individual) %></div>
      <div><%= link_to 'Destroy', individual_path(individual), method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <%end%>

  <hr class="featurette-divider">

  <!-- First Featurette -->
  <div class="featurette" id="about">
    <div class="row">
      <div class="col-xs-2">
        <p>Averate Float Response</p>
        <%= @individuals.average(:floatResponse)%>
      </div>
      <div class="col-xs-2">
        <p>Maximum Float Response</p>
        <%= @individuals.maximum(:floatResponse)%>
      </div>
      <div class="col-xs-2">
        <p>Minimum Float Response</p>
        <%= @individuals.minimum(:floatResponse)%>
      </div>
      <div class="col-xs-2">
        <p>Distinct Float Response</p>
        <%= @individuals.distinct.count(:floatResponse)%>
      </div>
      <div class="col-xs-2">
        <p>Distinct Text Response</p>
        <%= @individuals.distinct.count(:textResponse)%>
      </div>
      <div class="col-xs-2">
        <p>True Count Boolnean Response</p>
        <% x = 0 %>
        <% @individuals.each do |i|%>
            <% if(i.booleanResponse == true) %>
                <% x = x + 1%>
            <%end%>
        <%end%>
        <%= x %>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- Second Featurette -->
  <div class="featurette" id="services">

    <div class="row">
      <div id="individuals_chart" class="col-md-6">
        <script type="text/javascript" charset="utf-8">
            $(function() {
                new Highcharts.Chart({
                    chart:{
                        renderTo: "individuals_chart"
                    },
                    title:{
                        text: "Change in Float Responses"
                    },
                    xAxis:{
                        type: "floatResponse"
                    },
                    yAxis:{
                        title: {
                            text: "floats"
                        }
                    },
                    series: [{
                        name:"Float Responses",
                        data:[
                            <% @individuals.each do |i|%>
                            <%= i.floatResponse %>,
                            <% end %>
                        ]
                    }]
                });
            });
        </script>
      </div>
      <div id="BooleanChart" class="col-md-6">
        <script type="text/javascript" charset="utf-8">
            $(function () {
                new Highcharts.Chart({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        renderTo:"BooleanChart"
                    },
                    title: {
                        text: 'Boolean Responses'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Boolean Responses',
                        data: [
                            ['True',
                                <% x = 0 %>
                                <% @individuals.each do |i|%>
                                    <% if(i.booleanResponse == true) %>
                                        <% x = x + 1%>
                                    <%end%>
                                <%end%>
                                <%= x %>
                            ],
                            ['False',
                                <% x = 0 %>
                                <% @individuals.each do |i|%>
                                    <% if(i.booleanResponse == false) %>
                                        <% x = x + 1%>
                                    <%end%>
                                <%end%>
                                <%= x %>
                            ],
                        ]
                    }]
                });
            });
        </script>
      </div>

    </div>

  </div>

  <hr class="featurette-divider">

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>YourStats</p>
      </div>
    </div>
  </footer>

</div>